$page_background_color: #eee;
$text_color: #666;

$green: #2EFF09;
$light_green: #00A000;
$blue: #158FB5;
$light_blue: rgba(21, 143, 181, 0.44);

$highlight: #ff8;

$good_color: $light_green;
$ok_color: orange;
$bad_color: red;
