@import './_colors';
@import './_links';
@import './_tables';

@mixin body-typography {
  font-family: Arial, Verdana, Helvetica;
  font-size: 9pt;
  color: $text_color;
}

// This is the new version of the font, created with Fontello.
// It's font-family is called 'singlebrook_icons'.
@import 'singlebrook_icons';

h1, h2, h3, h4, h5, fieldset legend {
  font-family: "Arial Rounded MT Bold";
  font-weight: normal;
  color: $heading_color;
}

h4 {
  margin-bottom: 0.5em;
}

ul {
  margin-top: 0.5em;

  &.plain{
    padding-left: 0;
    line-height: 1.5;

    li {
      list-style-type: none;
    }
  }
}

.logo {
  line-height: .75;
}
.logo, span.help_icon {
  font-family: 'singlebrook_icons';
}
span.help_icon {
  background-color: $light_blue;
  color: $page_background_color;
  display: inline-block;
  margin-top: 3px;
  padding: 3px 5px !important;
  border-radius: 14px;
  &:before {
    content: 'D';
  }
  .help_text {
    display: none;
  }
}


h1.logo {
  font-size: 1000%;
  margin: .35em auto;
  text-align:center;
  width:300px;
  font-weight: normal;
  color: $blue;
  padding: 0 0 0 .2em;
}

a.logo.home {
  font-size:300%;
  float:left;
  margin:0;
  color:$blue;
  text-decoration:none;
  padding: .5em;
}


#header {
  border-bottom:#ccc 1px solid;
  margin:0 0 1em 0;
  padding: 0 0 1em 0;
  position: relative;
  overflow: auto;
}

body {
  @include body-typography;
  background-color: #555;
}

div#flashes + .content_column a {
  line-height: 1.5;
}

h2 {
  font-size: 1.25em;
  margin: 1.5em 0em 0.25em 0em;
}

fieldset {
  border: 1px solid #aaa;
  legend {
    font-size: 1.25em;
    /* Can't use margin on legend in Firefox, apparently -Jared 2012-04-26 */
    /* margin: 1.5em 0em 0.25em 0em; */
  }
}

p {
  margin: 1em 0;
}

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.bold {
  font-weight: bold; }

.nowrap {
  white-space: nowrap; }

.hidden { display: none; }

.background_green { background: $green; }
.background_red { background: #f00; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

input {
  padding: .25em;
  font-family: arial, helvetica, sans-serif;
  font-size: 1.1em;
}

select {
  width: 200px;
  height: 25px;
  margin: .25em;
}

#container {
  width: 1000px;
  background-color: $page_background_color;
  padding: 20px;
  border: solid 10px #ddd;
  margin: 5px auto 5px;
  border-radius: 4px;
  -moz-box-shadow: 0px 0px 1px #aaa;
  -webkit-box-shadow:  0px 0px 1px #aaa;
  box-shadow:  0px 0px 1px #aaa;
}

#flashes {
  clear: both;
}

#flash_notice, #flash_warning, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
  border-radius: 4px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
  color: #6C6;
}

#flash_warning {
  background-color: #ff8;
  border: solid 1px #aa0;
  color: #880;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.warning {
  color: #c00;
}

.field_with_errors {
  display: inline;
  color: #C00;
}

#errorExplanation {
  width: 400px;
  border: 1px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 4px #ccc;
  -webkit-box-shadow:  0px 0px 4px #ccc;
  box-shadow:  0px 0px 4px #ccc;
  color: #CF0000;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff; }

  p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }

  ul {
    margin: 2px 24px;
    clear: both;

    li {
      font-size: 12px;
      list-style: disc;
    }
  }
}

#quicknav {
  float:right;
  color: #eee;
}

#quicknav a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  display: inline-block;
  margin-left: 10px;
  font-size: 10px;
  padding: .5em 1em;
border: 1px solid #158eb3;
border-radius: 3px;
background-image: -webkit-gradient(linear, center top, center bottom, from(#1dc3f5), to(#158fb5));
background-image: -webkit-linear-gradient(top, #1dc3f5, #158fb5);
background-image: -moz-linear-gradient(top, #1dc3f5, #158fb5);
background-image: -o-linear-gradient(top, #1dc3f5, #158fb5);
background-image: -ms-linear-gradient(top, #1dc3f5, #158fb5);
background-image: linear-gradient(top, #1dc3f5, #158fb5);
-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.61);
-moz-box-shadow: 0 0 3px rgba(0,0,0,0.61);
box-shadow: 0 0 3px rgba(0,0,0,0.61);
  color: #fff;
  border-radius: 3px;
  text-shadow: 0 -1px 0 #158fb5;
}

#quicknav a:hover {
background-image: -webkit-gradient(linear, center top, center bottom, from(#89def8), to(#1dc3f5));
background-image: -webkit-linear-gradient(top, #89def8, #1dc3f5);
background-image: -moz-linear-gradient(top, #89def8, #1dc3f5);
background-image: -o-linear-gradient(top, #89def8, #1dc3f5);
background-image: -ms-linear-gradient(top, #89def8, #1dc3f5);
background-image: linear-gradient(top, #89def8, #1dc3f5);
border: 1px solid #1dc3f5;
  text-shadow: 0 -1px 0 #1dc3f5;

}

.content_column {
  float: left;
  margin-right: 25px;
  margin-left: 10px;
  &.half {
    width: 450px;
  }
}

.content_column.half + .content_column.half {
  margin-right: 0;
}

.content_column + .content_column + .content_column {
  margin-right: 0;
}

.column {
  float: left;
  margin: 0px 10px;
}

.reset_columns {
  clear: both;
}

/* red or green numbers to indicate negative or positive result */
.ok, .good, .bad { font-weight:bold; }

.good { color: $good_color; }
.bad  { color: $bad_color;  }
.ok   { color: $ok_color;   }

form.compact {
  overflow: auto; /* Make the form contain its floating children */

  label {
    width: 100px;
    padding-right: 10px;
  }

  label, .field p, .field span {
    float: left;
    display: inline-block;
    padding-top: 6px;
  }

  .field p {
    max-width: 340px;
  }

  label.long {
    width: 250px;
  }

  input, select, img {
    float: left;

    &[type='checkbox'] {
      margin-top: 6px;
    }
  }

  h3 {
    clear: left;
    float: left;
  }

  .field {
    clear: left;
    float: left;
    overflow: auto; /* Expand to contain its floating children */

    .explanation {
      clear: both;
      padding-left: 115px;
    }

    &.wider {
      width: 400px;
    }
  }

  p, .field {
    /*clear: left;
    float: left;*/
    margin: 0px 0px 8px 0px;
  }
}

#new_ticket {
  width: 450px;
}

form.spacious {
  .field {
    margin: 1em 0;
  }
}

details.fieldgroup {
  clear:both;
  float:left;
  margin: 1em 0;

  summary {
    font-family: "Arial Rounded MT Bold";
    margin-bottom: 0.5em;

    &:focus {
      outline: none;
    }
  }
}

a.cancel {
  display: inline-block;
  padding-top: 4px;
  padding-left: 8px;
}

.explanation {
  font-size: 0.9em;
  color: lighten($text_color, 18%);
}

.highlight {
  background-color: lighten($page_background_color, 20%);
}

.menu {
  a {
    line-height: 1.5em;
  }
}
.menu_section {
  float: left;
  padding-right: 15px;
  width: 154px;
}

@media print {
  body {
    background: none;
    border-style: none;
    border-width: 0px;
  }
  #container {
    border-style: none;
  }
  #quicknav {
    display: none;
  }
}
